In [ ]:
%run database.ipynb
# Import necessary modules
import sqlite3
from flask import Flask, render_template

# Create a Flask app
app = Flask(__name__)

# Define routes and functions
@app.route('/')
def index():
    return render_template("Home.html")

@app.route('/get_population', methods=['GET'])
def get_population():
    # Connect to the SQLite database
    total_population = fetch_population()

    # Render the population data as a table using the HTML template
    return render_template('population_table.html', population=total_population)

@app.route('/about')
def about():
    return render_template("about.html")

@app.route('/data_description')
def data_description():
    return render_template("data_description.html")

# Run the Flask app if this script is the main program
if __name__ == '__main__':
    app.run()

Executing scraping population data from wikipedia........
Start Time: 2023-11-05 16:14:18.619011
web scraping completed successfully......
Data Collected is given below

,Country/Dependency,Population,% ofworld,Date,Source (official or fromtheUnited Nations)
0,World,"8,069,801,000",100%,5 Nov 2023,UN projection[3]
1,China,"1,411,750,000",17.5%,31 Dec 2022,Official estimate[4]
2,India,"1,392,329,000",17.3%,1 Mar 2023,Official projection[5]
3,United States,"335,587,000",4.2%,5 Nov 2023,National population clock[7]
4,Indonesia,"279,118,866",3.5%,1 Jul 2023,National annual projection[8]
...,...,...,...,...,...
236,Tokelau(NZ),"1,647",0%,1 Jan 2019,2019 Census[231]
237,Niue,"1,549",0%,1 Jul 2021,National annual projection[182]
238,Vatican City,764,0%,26 Jun 2023,Official figure[232]
239,Cocos (Keeling) Islands(Australia),593,0%,30 Jun 2020,2021 Census[233]
240,Pitcairn Islands(UK),47,0%,1 Jul 2021,Official estimate[234]

Total Scrapping Time: 0:00:02.025635
Cleaned and processed data

,Country/Dependency,Population,% ofworld,Date,Source (official or fromtheUnited Nations)
1,China,1411750000,17.5,31 Dec 2022,Official estimate[4]
2,India,1392329000,17.3,1 Mar 2023,Official projection[5]
3,United States,335587000,4.2,5 Nov 2023,National population clock[7]
4,Indonesia,279118866,3.5,1 Jul 2023,National annual projection[8]
5,Pakistan,241499431,3.0,1 Mar 2023,2023 census result[9]
...,...,...,...,...,...
236,Tokelau(NZ),1647,0.0,1 Jan 2019,2019 Census[231]
237,Niue,1549,0.0,1 Jul 2021,National annual projection[182]
238,Vatican City,764,0.0,26 Jun 2023,Official figure[232]
239,Cocos (Keeling) Islands(Australia),593,0.0,30 Jun 2020,2021 Census[233]
240,Pitcairn Islands(UK),47,0.0,1 Jul 2021,Official estimate[234]

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [05/Nov/2023 16:14:26] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [05/Nov/2023 16:14:27] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [05/Nov/2023 16:15:19] "GET /get_population HTTP/1.1" 200 -
127.0.0.1 - - [05/Nov/2023 16:16:46] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [05/Nov/2023 16:16:53] "GET /get_population HTTP/1.1" 200 -